* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background: url(./stopwatch.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#frame {
    padding: 1rem;
    background-color: rgba(107, 88, 117, 0.39);
    color: wheat;
    width: 50%;
    height: 30%;
    margin: auto auto;
    text-align: center;
}

#timerDisplay-el {
    font-size: 3rem;
}

button {
    font-size: 3rem;
}